@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100vh;
}
body{
  font-family: 'Roboto Slab', serif;
  background: rgb(74,117,58);
  background: linear-gradient(0deg, rgba(74,117,58,1) 0%, rgba(160,145,167,1) 50%, rgba(113,161,171,1) 100%); 
}
.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-image: url("https://images.pexels.com/photos/12538152/pexels-photo-12538152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  color: white;
  position: relative;
  border-radius: 20px;
}
.content{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tittle{
    text-align: center;
    margin-bottom: 2.5rem;
}
.img-weather{
  width: 100px;
}
.card-imgInfo{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.card-imgInfo p{
  font-size: 1.1rem;
  font-weight: 700;
}
.card-imgInfo h1{
  font-size: 4rem;
  font-weight: 100;
}

.description{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 2rem 0;
}
.description p{
  font-size: 1.5rem;
}
.description img{
  animation: animateIcon 3s infinite;
  width: 65px;
}

/* From uiverse.io by @adamgiebl */
button {
  background-color: transparent;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 0.4em;
position: absolute;
bottom: 0;
right: 0;
color: white;
}
.cardDetails{
  width: 90%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin-bottom: 2rem;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 550px) {
  .card{
    height: 700px;
  }
  }
  /* From uiverse.io by @mrhyddenn */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  height: 80px;
  width: 80px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px rgb(25, 116, 253);
  border-radius: 50%;
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(30, 146, 255);
  box-shadow: inset 0 0 50px rgb(0,0,0,.3);
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.waves::before {
  border-radius: 45%;
  background: rgb(248, 248, 248);
  animation: wave91234 5s linear infinite;
}

.waves::after {
  border-radius: 40%;
  background: rgb(255,255,255,.5);
  animation: wave91234 10s linear infinite;
}

@keyframes wave91234 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes animateIcon {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(25px);

  }
  100%{
    transform: translateY(0px);

  }
}